/*------- Début navbar-------*/
nav{
  width: 100%;
  height: auto;
  background-image: url("../img/payments-banner-graphic.png");
  background-size: cover;
  margin-bottom: 20em;
  border-radius: 0;
  border: none;
}
#nav_logo{
  display: flex;
  flex-direction: row;
}
#nav_icon{
  width: 1.5em;
  height: auto;
}
#nav_title{
  margin-top: 0.25em;
  margin-left:0.5em;
  color: white;
}
.navbar-wrapper{
  border: none;
  border-radius: 0;
}
.nav_text{
  color: white;
  right: 1em;
  font-size: 1.25em;
}
.nav_ext{
  color: white;
}
.taille{
  font-size: 1.5em;
}
.icon-bar{
  background-color: white;
}
@media screen and (min-width: 400px) {
  .pad{
    padding: 13em;
  }
#but{
  color:#86F;
  margin-top: 1em;
  border: none;
  border-radius: 0.5;
  padding-top: 0.8em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 0.8em;
}
}

@media screen and (max-width: 400px) {
  .pad{
    padding: 3em;
  }
  #but{
    color:#86F;
    margin-top: 1em;
    border: none;
    border-radius: 0.5;
  }
}
/*--------Fin navbar---------*/
/*------Section 1------*/
.hauteur{
  height: 5em;
  width: 5em;
}

.ecart{
  padding-top: 6em;
  margin-bottom: 5em;
}
/*padding pour aligner le calendrier*/
.down{
  padding-top: 0.9em;
}
@media screen and (min-width:400px){
.block{
padding: 10px 10px;
margin: 0 0 20px;
border-left: 2px solid #eee;
}
}
@media screen and (max-width:400px){
.block{
padding: 10px 10px;
margin: 0 0 20px;
border-top: 2px solid #eee;
}
}
/*-------Fin section 1--------*/
/*-------Début section 2------*/
.back{
  height: 20em;
  width: 100%;
  background-color: #eee;
  border-top: 0.3px solid #bebbbb;
  padding-top: 5em;
  padding-bottom: 3em;
}

.section2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}
.soustxt{
  text-align: left;
  margin-top: 0.5em;
  margin-left:0.5em;
}
.arg{
  font-size: 6em;
  color:#875be2;
}
/*-------Fin section 2----------*/
/*----------Début section 3/demi---------*/
.bandeau{
  height: 5em;
  width: 100%;
  background-color: rgb(77, 75, 75);
}
.bandeau_text{
  padding-top: 0.5em;
  color: #DDD;
  font-size: 2em;
}
/*-------Fin section 3/demi--------*/
